*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
  margin: 2px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__card-link_current,
.content__card-link_current:active {
  background-color: #545050;
}

.search-form__textfield:focus,
.content__card-link:focus,
.button:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
  caret-color: transparent;
}

.search-form__label:active {
  outline-offset: 0;
}

.search-form__label:has(.search-form__checkbox):hover,
.content__card-link:hover,
.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.search-form__textfield {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  width: 225px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before,
input[type="checkbox"]:active + .search-form__pseudo-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
}

.button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: bold;
  background: transparent;
  border: 1px solid white;
  align-self: flex-end;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: -3px;
}

.search-form__submit-button {
  padding: 5px 73.5px;
}

.more-button {
  width: 100%;
  padding: 5px 0;
}
